@media (max-width: 739px) {
    .s-12 {
        width: 100%;
    }
    .s-mt8 {
        margin-top: 8px;
    }
    #header {
        overflow: hidden;
    }
    #nav {
        display: block;
    }

    #nav .subnav {
        position: initial;
        background-color: #666;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 35px;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }
    #header .search {
        display: none;
    }
    .mobie-menu {
        display: block;
    }
    #content .member-img {
        width: 60%;
    }
    .contact-form {
        margin-top: 16px !important;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {

}

@media (max-width: 1023px) {
    #nav .subnav a {
        padding: 5px 12px;
    }

    .ticket li {
        padding: 14px 16px;
    }

    .buy-address {
        padding: 14px 16px;
    }

    .contact-form .form-control {
        padding: 15px;
    }

    .contact-info {
        line-height: 2;
    }

    .contact-form .form-submit {
        padding: 15px 20px;
    }

    #footer .social-list {
        font-size: 36px;
    }

    #footer .social-list a {
        margin: 0 8px;
    }

    #footer .coppyright a {
        padding: 16px 5px;
        display: inline-block;
    }
}